<form class="form-horizontal" #ownerForm="ngForm" (ngSubmit)="onSubmit(ownerForm.value)">
  <div>
    <label for="firstName">First Name</label>
    <input name="firstName" class="from-control" required [(ngModel)]="owner.firstName" type="text">
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input name="lastsName" [(ngModel)]="owner.lastName" class="from-control" required [(ngModel)]="owner.lastName"
      type="text">
  </div>
  <div>
    <label for="address">Address</label>
    <input name="address" [(ngModel)]="owner.address" class="from-control" required [(ngModel)]="owner.address" type="text">
  </div>
  <div>
    <label for="city">City</label>
    <input name="city" [(ngModel)]="owner.city" class="from-control" required [(ngModel)]="owner.city"
      type="text">
  </div>
  <div>
    <label for="telephone">Telephone</label>
    <input name="telephone" [(ngModel)]="owner.telephone" class="from-control" required [(ngModel)]="owner.telephone"
      type="text">
  </div>
  <button type="submit" [disabled]="ownerForm.invalid">Submit</button>
</form>