<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH-PYLo1bC16yTU-ktGF9XdDl0lAsGNHYwvzdMI-D9KDi_3oLn">
  <h2>Put something there: </h2>
  <form #contactForm="ngForm">
    <input name="hola" [(ngModel)]="prueba">
  </form>
  <p>{{prueba}}</p>
  <p>-------------------------------------------------------------------------------------------------</p>
  <p>{{resulprueba}}</p>
  <a routerLink="/" routerLinkActive="router_link_active">Volver</a>
  <br/>
  <a routerLink="search" routerLinkActive="router_link_active">Owners</a>
  <br/>
  <router-outlet></router-outlet>
  </div>

